.json-render {
    font-family: monospace;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

:root {
  color-scheme: light dark; /* both supported */
}

@media (prefers-color-scheme: dark) {
    .dimmable, option {
        filter: brightness(60%);
    }

    select {
        color: #BBB !important;
        font-weight: bold;
    }

    button {
        font-weight: bold;
        color: #BBB !important;
    }

    .item-even {
        background-color: rgba(197, 197, 158, 0.9);
    }

    .item-odd {
        background-color: rgba(197, 197, 197, 0.9);
    }

    .collapsible {
        color: #CCC !important;
        background-color: #444 !important;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 430px) and (-webkit-device-pixel-ratio: 2), 
       only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {

    .icon {
        height: 60px !important;
        padding: 0 !important;
        margin: 0 !important;
        margin-top: 5px !important;
        margin-bottom: 2px !important;
    }

    .icon_smaller {
        height: 40px !important;
        padding: 0 0 10px 0 !important;
    }

    .mybutton {
        font-size: 20px !important;
        min-height: 120px !important;
    }

    .dogicon {
        height: 100px !important;
    }

    #horizontal-arm-button-holder {
        padding-bottom: 10px !important;
    }

    #profiles-dropdown-container {
        width: calc(100%);
        height: auto;
        padding-top: 0 !important;
    }

    .minheight-dropdown {
        min-height: 100px;
        min-width: 100px;
    }
}

@supports not (-webkit-touch-callout: none) {
    /* DESKTOP */
}

.hidden {
    display: none !important;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black overlay */
    z-index: 999; /* Ensure it's above other content */
}

.text_align_center {
    text-align: center;
}

/* Styles for the warning box */
.warning-box {
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, .3);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.json-key {
    color: blue;
}

.json-string {
    color: green;
}

.json-number {
    color: red;
}

.json-boolean, .json-null {
    color: purple;
}

.item-even {
    background-color: rgba(255, 255, 204, .8);
    color: black;
}

.item-odd {
    background-color: rgba(255, 255, 255, .8);
    color: black;
}

.blue {
    color: white !important;
    background-color: blue !important;
}

.yellow {
    color: black !important;
    background-color: yellow !important;
}

.red {
    color: white !important;
    background-color: red !important;
}

.orange {
    color: white !important;
    background-color: orange !important;
}

.emerald {
    color: white !important;
    background-color: #019875 !important;
}

.highlight_green {
    filter: sepia(100%) hue-rotate(40deg) saturate(10);
}

.highlight_red {
    filter: sepia(100%) hue-rotate(290deg) saturate(150);
}

.lowlight_gray {
    filter: opacity(20%) !important;
}

.lightblue {
    background-color: rgba(100, 87, 255, 0.3) !important;
}

.lightred {
    background-color: rgba(255, 87, 87, 0.3) !important;
}

.green {
    color: white !important;
    background-color: RGBA(61, 138, 61, 1) !important ;
}

.gray {
    color: black !important;
    background-color: lightgray !important;
}

#title-image {
    height: 90%;
    margin: 6px;
}

.angry-dog {
    content: url("dog.jpg") !important;
}

.icon {
    height: 120px;
    margin: 0 10px 0 10px;
}

.icon_smaller {
    height: 100px;
    padding: 20px 10px 20px 10px;
}

.open-garage {
    content: url("garage_open.png") !important;
}

#garage_side_door_status {
    content: url("garagesidedoor.png") !important;
}

#inside_movement_status {
    content: url("insidemovement.png") !important;
}

#garage_movement_status {
    content: url("garagemovement.png") !important;
}

#garage_piezo_alarm_status {
    content: url("garage_piezo_alarm.png") !important;
}

#laundry_bell_alarm_status {
    content: url("laundry_room_bell_alarm.png") !important;
}

#office_buzzer_alarm_status {
    content: url("office_buzzer_alarm.png") !important;
}

#office_denon_alarm_status {
    content: url("office_speakers_alarm.png") !important;
}

.closed-garage {
    content: url("garage_closed.png") !important;
}

hr {
    height: 0px;
    border: none;
}

select {
    width: 100%;
    height: 30px;
    font-size: 27px;
    color: #444;
}

option {
    overlfow: hidden;
}

.horizontal-button-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.horizontal-dropdown-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#alarm-status-holder {
    width: 100%;
    height: auto;
    border: 0px solid red;
    border-radius: 10px;
    -moz-border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flexbox-row {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.flexbox-column {
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: column;
}

.justify-content-center {
    justify-content: center !important
}

.smallbutton {
    border-radius: 15px;
    height: 100px;
    width: 300px;
    transition-duration: .4s;
    font-size: 35px;
    word-wrap: break-word;
}

.mybutton {
    border-radius: 15px;
    height: fit-content;
    min-height: 200px;
    width: 75%;
    transition-duration: .4s;
    font-size: 30px;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Break long words if necessary */
}

.mybutton:hover {
    color: black;
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.mybutton:active {
    color: black;
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    filter: saturate(200%) !important;
}

.full-width {
    width: 100% !important;
}

.blinkingTransitions {
    animation-name: blink;
    animation-duration: .2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.invertTransitions {
    animation-name: invert;
    animation-duration: .2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

nav {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    /*background-color: rgba(0,0,0,0.5);*/
    padding-bottom: 10px;
}

div {
    white-space: pre;
}

@keyframes blink {
    from {background-color: red;}
    to {background-color: blue;}
    from {color: white}
    to {color: white}
}

@keyframes invert {
    from {filter: invert(0)}
    to {filter: invert(1)}
}

.column {
    display: flex;
    align-items: center;
}

.title {
    font-weight: bold;
    margin-right: 10px;
}

.collapsible {
  background-color: #CCC;
  color: #444;
  cursor: pointer;
  padding: 25px;
  width: 100%;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  margin: 1px;
}

.active, .collapsible:hover {
  background-color: #444;
  color: #CCC;
}

#collapsibles-container {
    width: 100%;
}

.data-container {
    width: 100%;
}

.collapsible-content {
  max-height: 0;
  overflow: auto;
  transition: max-height 0.2s ease-out;
  margin-bottom: 10px;
}

#profiles-dropdown-container {
    width: 100%;
    padding-top:20px;
}

#profiles-dropdown {
    min-height: 100px;
    height: fit-content;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Break long words if necessary */
}

.dogicon {
    max-height: 180px;
}

.flexwrap {
    flex-wrap: wrap;
}

.flexgap30px {
    gap: 30px;
}

.flexgap10px {
    gap: 10px;
}

.left-justify {
    justify-content: flex-start;
}

.lower_opacity {
    opacity: 0.8;
}

.right-justify {
    justify-content: flex-end;
}


.left-half {
    width: 50% !important;
    align-self: start;
}

.right-half {
    width: 50% !important;
    align-self: end;
}

.status-images-container {
    background-color: rgba(0,0,0,.6);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.top-rounded-corners {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bottom-rounded-corners {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.padding-alarm-status {
    padding-top: 15px;
}

input {
    minlength: 4;
    maxlength: 4;
    width: 160px;
    font-size: 40px;
}

.dull {
    filter: saturate(30%);
}

.minheight-dropdown {
    min-height: 30px;
    min-width: 100px;
}

body {
    margin: 10px;
}
