@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #84718c;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(36, 24, 53);
    --foreground: #797979;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
